@model List<CinemaCounter.Models.Entities.Session>
@{
    ViewBag.Title = "На этой неделе";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mui--text-display1 mui--text-dark-secondary page-title">Киносеансы на этой неделе</div>
<div class="mui-row">
    @if (Model.Count == 0)
    {
        <div class="mui-col-md-12">
            <div class="mui-panel">
                <div class="mui--text-headline">Пусто</div>
                <div class="panel-block">
                    <div class="mui--text-body1">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x text-info"></i>
                            <i class="fa fa-info fa-stack-1x white-text"></i>
                        </span> На данный момент сеансы отсутствуют.
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div id="sessions-block" class="mui-col-md-12 item-blocks">
            @foreach (var item in Model)
            {
                <div class="item-block">
                    <div class="mui-panel">
                        <div class="mui--text-headline">@item.Scene.Name</div>
                        <div class="panel-block">
                            <div class="mui--text-body2">
                                Время проведения: @item.Date<br />
                                Кинотеатр: @item.Cinema.Name<br />
                            </div>
                        </div>
                        @Html.ActionLink("Подробнее", "Session", "Session", new { id = item.Id }, new { @class = "mui-btn mui-btn--flat mui-btn--primary" })
                    </div>
                </div>
            }
        </div>
    }
</div>
