@{
    ViewBag.Title = "Подтверждение сброса пароля";
}

<div class="mui-row">
    <div class="mui-col-md-8 mui-col-md-offset-2">
        <div class="mui--text-display1 mui--text-dark-secondary page-title">@ViewBag.Title</div>
        <div class="mui-panel">
            <p>
                Ваш пароль сброшен. @Html.ActionLink("Щелкните здесь для входа", "Login", "Account", null, new {id = "loginLink"})
            </p>
        </div>
    </div>
</div>