@{
    ViewBag.Title = "О проекте";
}

<div class="mui--text-display1 mui--text-dark-secondary page-title">@ViewBag.Title</div>
<div class="mui-panel mui--text-center">
    <div class="mui--text-headline">Для чего это?</div>
    <div class="panel-block">
        <div class="mui-row">
            <div class="mui-col-sm-12">
                <div class="info-block blue-block">
                    <p>Это приложение создано для быстрого и удобного заказа билетов в кинотеатры города Минска.</p>
                    <i class="fa fa-coffee fa-5x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="mui--text-headline">Как использовать данный ресурс?</div>
    <div class="panel-block">
        <div class="mui-row">
            <p class="mui--text-title">Для заказа билета Вам необходимо только</p>
            <div class="mui-col-lg-4">
                <div class="guide-block terracotta-block">
                    <p>выбрать необходимый сеанс</p>
                    <i class="fa fa-film fa-5x"></i>
                </div>
            </div>
            <div class="mui-col-lg-4">
                <div class="guide-block orange-block">
                    <p>отметить все необходимые места</p>
                    <i class="fa fa-check-circle-o fa-5x"></i>
                </div>
            </div>
            <div class="mui-col-lg-4">
                <div class="guide-block green-block">
                    <p>указать паспортные данные для подтверждения личности</p>
                    <i class="fa fa-user fa-5x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="mui--text-headline">Кем этот ресурс разработан</div>
    <div class="panel-block">
        <div class="mui--text-body2">
            <p>Данный ресурс разработан и поддерживается Павлом Павлющиком.</p>
        </div>
    </div>
</div>