@{
    ViewBag.Title = "Контакты";
}

<div class="mui--text-display1 mui--text-dark-secondary page-title">@ViewBag.Title</div>
<div class="mui-panel">
    <div class="mui--text-headline">Адрес</div>
    <div class="panel-block">
        <div class="mui--text-body2">
            Ул. Казинца 91<br/>
            Минск, Беларусь<br/>
            Телефон: +375 29 556 74 49<br/>
            Поддержка: <a href="mailto:paulpal1995@gmail.com">paulpal1995@gmail.com</a>
        </div>
    </div>
    <div class="mui--text-headline">Социальные сети</div>
    <div class="panel-block">
        <a href="https://vk.com/paul_pal" class="mui-btn mui-btn--flat mui-btn--primary" target="_blank">Вконтакте</a>
        <a href="https://www.facebook.com/pavel.romanov.904" class="mui-btn mui-btn--flat mui-btn--primary" target="_blank">Facebook</a>
        <a href="https://twitter.com/dear_pavelp" class="mui-btn mui-btn--flat mui-btn--primary" target="_blank">Twitter</a>
    </div>
</div>