/**
 * Body CSS
 */
html,
body {
    background-color: #eee;
    height: 100%;
}

html,
body,
input,
textarea,
buttons {
    -moz-osx-font-smoothing: grayscale;
    -ms-text-shadow: 1px 1px 1px #000000;
    -ms-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px #000000;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Layout CSS
 */

#header {
    -moz-transition: left 0.2s;
    -ms-transition: left 0.2s;
    -o-transition: left 0.2s;
    -webkit-transition: left 0.2s;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: left 0.2s;
    z-index: 2;
}

#sidedrawer {
    -moz-transition: transform 0.2s;
    -ms-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    -webkit-transition: transform 0.2s;
    background-color: #fff;
    bottom: 0;
    left: -200px;
    overflow: auto;
    position: fixed;
    top: 0;
    transition: transform 0.2s;
    width: 200px;
    z-index: 2;
}

#content-wrapper {
    -moz-transition: margin-left 0.2s;
    -ms-transition: margin-left 0.2s;
    -o-transition: margin-left 0.2s;
    -webkit-transition: margin-left 0.2s;
    /* sticky bottom */
    margin-bottom: -160px;
    margin-left: 0;
    min-height: 100%;
    overflow-x: hidden;
    padding-bottom: 160px;
    padding-top: 90px;
    transition: margin-left 0.2s;
}

#footer {
    -moz-transition: margin-left 0.2s;
    -ms-transition: margin-left 0.2s;
    -o-transition: margin-left 0.2s;
    -webkit-transition: margin-left 0.2s;
    height: 160px;
    margin-left: 0;
    margin-top: 30px;
    transition: margin-left 0.2s;
}

#footer div a { text-decoration: none; }

@media (min-width: 544px) {
    #header { left: 200px; }

    #sidedrawer {
        -moz-transform: translate(200px);
        -ms-transform: translate(200px);
        -o-transform: translate(200px);
        -webkit-transform: translate(200px);
        transform: translate(200px);
    }

    #content-wrapper { margin-left: 200px; }

    #footer { margin-left: 200px; }

    body.hide-sidedrawer #header { left: 0; }

    body.hide-sidedrawer #sidedrawer {
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    body.hide-sidedrawer #content-wrapper { margin-left: 0; }

    body.hide-sidedrawer #footer { margin-left: 0; }
}


/**
 * Toggle Side drawer
 */

#sidedrawer.active {
    -moz-transform: translate(200px);
    -ms-transform: translate(200px);
    -o-transform: translate(200px);
    -webkit-transform: translate(200px);
    transform: translate(200px);
}


/**
 * Header CSS
 */

.sidedrawer-toggle {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    margin-right: 10px;
}

.sidedrawer-toggle:hover {
    color: #fff;
    text-decoration: none;
}


/**
 * Footer CSS
 */

#footer {
    background-color: #0288D1;
    color: #fff;
}

#footer a {
    color: #fff;
    text-decoration: underline;
}


/**
 * Side drawer CSS
 */

#sidedrawer-brand { padding-left: 20px; }

#sidedrawer ul { list-style: none; }

#sidedrawer > ul { padding-left: 0; }

#sidedrawer > ul > li:first-child { padding-top: 15px; }

#sidedrawer strong {
    cursor: pointer;
    display: block;
    padding: 15px 22px;
}

#sidedrawer strong:hover { background-color: #E0E0E0; }

#sidedrawer strong + ul > li, #sidedrawer strong + ul > form li { padding: 6px 0; }

#sidedrawer strong + ul > li a, #sidedrawer strong + ul > form li a { color: #000000; }

.navbar-title h2 {
    margin: 0;
    padding-left: 20px;
}

.navbar-title h2 a {
    color: #aaa;
    font-weight: lighter;
}

#appbar-sidenav-hide, #appbar-sidenav-show {
    -moz-transition: 0.2s all ease-in-out;
    -ms-border-radius: 50%;
    -ms-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
    border-radius: 50%;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    height: 31px;
    left: -2px;
    line-height: 31px;
    margin-right: 18px;
    position: relative;
    text-align: center;
    transition: 0.2s all ease-in-out;
    width: 31px;
}

#appbar-sidenav-hide i, #appbar-sidenav-show i {
    font-size: 20px;
    position: relative;
    top: 1px;
}

#appbar-sidenav-hide:hover, #appbar-sidenav-show:hover {
    background-color: #000000;
    background-color: rgba(0, 0, 0, .27);
    text-decoration: none;
}

.page-title { margin-bottom: 20px; }

.panel-block { margin: 10px 0 15px 0; }

.guide-block, .info-block {
    -moz-box-sizing: border-box;
    -ms-border-radius: 3px;
    -webkit-box-sizing: border-box;
    border-radius: 3px;
    box-sizing: border-box;
    color: white;
    display: block;
    font-weight: bold;
    margin: 5px auto;
    padding: 10px;
    position: relative;
}

.guide-block {
    height: 250px;
    max-width: 250px;
}

.guide-block i {
    bottom: 50px;
    position: absolute;
}

.green-block { background: #4CAF50; }

.green-block i { left: calc(50% - 28px) }

.orange-block { background: #FF9800; }

.orange-block i { left: calc(50% - 30px) }

.terracotta-block { background: #D94400; }

.terracotta-block i { left: calc(50% - 37px) }

.blue-block { background: #00ACC1; }

.blue-block i { left: calc(50% - 37px) }

.guide-block p { font-size: 18px; }

@media screen and (max-width: 926px) {
    .guide-block p { font-size: 14px; }

    .guide-block i { bottom: 20px; }
}

@media screen and (max-width: 767px) {
    .guide-block p { font-size: 18px; }

    .guide-block i { bottom: 50px; }
}

@media screen and (max-width: 210px) {
    .guide-block p { font-size: 14px; }

    .guide-block i { bottom: 20px; }
}

.text-info { color: #00ACC1; }

.white-text { color: #FFFFFF; }

.item-block {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    margin: 10px;
    vertical-align: text-top;
    width: calc(33% - 20px);
    *width: calc(33% - 20px);
}

.center-block {
    display: block;
    margin: 0 auto;
    width: 200px;
}

@media screen and (max-width: 1100px) {
    .item-block {
        width: calc(50% - 30px);
        *width: calc(50% - 30px);
    }
}

@media screen and (max-width: 840px) {
    .item-block {
        width: calc(100% - 30px);
        *width: calc(100% - 30px);
    }
}

#fountainG {
    -moz-transition: all 0.3s ease-in-out;
    -ms-opacity: 0;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    display: inline-block;
    height: 11px;
    margin: auto;
    opacity: 0;
    position: relative;
    transition: all 0.3s ease-in-out;
    width: 90px;
}

.fountainG {
    -moz-animation-direction: normal;
    -moz-animation-duration: 1.5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: bounce_fountainG;
    -moz-border-radius: 7px;
    -moz-transform: scale(.3);
    -ms-animation-direction: normal;
    -ms-animation-duration: 1.5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-name: bounce_fountainG;
    -ms-border-radius: 7px;
    -ms-transform: scale(.3);
    -o-animation-direction: normal;
    -o-animation-duration: 1.5s;
    -o-animation-iteration-count: infinite;
    -o-animation-name: bounce_fountainG;
    -o-border-radius: 7px;
    -o-transform: scale(.3);
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: bounce_fountainG;
    -webkit-border-radius: 7px;
    -webkit-transform: scale(.3);
    animation-direction: normal;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: bounce_fountainG;
    background-color: rgb(240, 240, 240);
    border-radius: 7px;
    height: 11px;
    position: absolute;
    top: 0;
    transform: scale(.3);
    width: 11px;
}

#fountainG_1 {
    -moz-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    left: 0;
}

#fountainG_2 {
    -moz-animation-delay: 0.75s;
    -ms-animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
    left: 11px;
}

#fountainG_3 {
    -moz-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    left: 22px;
}

@keyframes bounce_fountainG {
    0% {
        background-color: rgb(255, 255, 255);
        transform: scale(1);
    }

    100% {
        background-color: rgb(255, 255, 255);
        transform: scale(.3);
    }
}

@-o-keyframes bounce_fountainG {
    0% {
        -o-transform: scale(1);
        background-color: rgb(255, 255, 255);
    }

    100% {
        -o-transform: scale(.3);
        background-color: rgb(255, 255, 255);
    }
}

@-ms-keyframes bounce_fountainG {
    0% {
        -ms-transform: scale(1);
        background-color: rgb(255, 255, 255);
    }

    100% {
        -ms-transform: scale(.3);
        background-color: rgb(255, 255, 255);
    }
}

@-webkit-keyframes bounce_fountainG {
    0% {
        -webkit-transform: scale(1);
        background-color: rgb(255, 255, 255);
    }

    100% {
        -webkit-transform: scale(.3);
        background-color: rgb(255, 255, 255);
    }
}

@-moz-keyframes bounce_fountainG {
    0% {
        -moz-transform: scale(1);
        background-color: rgb(255, 255, 255);
    }

    100% {
        -moz-transform: scale(.3);
        background-color: rgb(255, 255, 255);
    }
}

.text-danger { color: red; }