@using Microsoft.AspNet.Identity
<li>
    <strong>Учетная запись</strong>
    <ul>

        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm"}))
        {
            @Html.AntiForgeryToken()
            <li>
                @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", null, new {title = "Manage"})
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
            </li>
        }
    </ul>
</li>