@model HandleErrorInfo
@{
    ViewBag.Title = "Ошибка";
}

<div class="mui--text-display1 mui--text-dark-secondary page-title">@ViewBag.Title</div>
<div class="mui-panel">
    <div class="mui--text-headline">
        <i class="fa fa-warning text-danger"></i> Произошла ошибка
    </div>
    <div class="panel-block">
        <div class="mui--text-body2">
            Мы исправим данную ошибку. Пожалуйста, попробуйте в следующий раз.
        </div>
    </div>
</div>