@model HandleErrorInfo
@{
    ViewBag.Title = "Заблокировано";
}

<div class="mui--text-display1 mui--text-dark-secondary page-title">@ViewBag.Title</div>
<div class="mui-panel">
    <div class="mui--text-headline">
        <i class="fa fa-warning text-danger"></i> Произошла ошибка
    </div>
    <div class="panel-block">
        <div class="mui--text-body2">
            Ваша учетная запись заблокирована. Обратитесь к тех. поддержке, чтобы решить данную проблему.
        </div>
    </div>
</div>